body{
    background-color: grey;
}
#screendiv{
    width:80vw;
    height:40vw;
    margin:0.5%;
    border-radius: 10px;
    background-color: black;
}
#screen{
    width:80vw;
    height:40vw;
    border:3px solid rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
}

#controls{
    display:flex;
    border-radius: 10px;
    width:75vw;
    height:fit-content;
    background-color: rgb(255, 255, 255);
    border:3px solid black;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    z-index: 2147483648;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}
#controls button{
    width:40px;
    height:30px;
    font-size: 1.1rem;
    cursor: pointer;
    align-content:space-around;
    align-items:center;
    text-align: center;
    vertical-align: middle;
    background-color:rgba(255, 166, 0, 0.392);
    overflow:hidden;
    border-radius: 5px;

}
#controls button:active{
    
    background-color:rgba(12, 12, 255, 0.579);
}
#controls button:hover{
    border:1px solid red;
    background-color:rgba(12, 12, 255, 0.579);
}
#fullscr,#minip{
    align-items: center;
    align-content: flex-end;
    float: right;
}
#progressBar{
    width:30vw;
    cursor: pointer;
}
#controls img{
    width:1.2vw;
    height:1.2vw;
}
#volumectrl{
    display:flex;
    align-items:center ;
    align-content:center ;
}
#volslider{
    display: none;
    width:00px;
    transition: width 150ms ease-in-out;
    background-color: aqua;
}
#volumectrl:hover #volslider,#volslider:focus-within{
    display:inline-block;
    width:100px
}
#timer{
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
    align-content: center;
    background-color: rgb(240, 255, 255);
}
@media screen and (max-width:770px){
    *{
        margin:0;
        padding:0;
    }
    body{
        align-items: center;
        align-content: center;
        text-align: center;
    }
    #screendiv,#screen{
        width:100%;
    }
    #screendiv{
        height:70vh;
    }
    #screen{
        height:auto;
    }
}
