body{
    background-color: grey;
    viewport-fit:auto;
}
#screendiv{
    width:98%;
    height:85%;
    margin:1%;
    background-color: black;
}
#screen{
    width:100%;
    height:100%;
    border:3px solid rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
}

#controls{
    display:flex;
    border-radius: 10px;
    width:98%;
    height:fit-content;
    background-color:rgba(240, 255, 255, 0.527);
    border:1px solid black;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    z-index: 2147483648;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    margin-top: -3vw;
    padding:5px;
}
#back,#play,#forward,#pause,#volvalue,#mute,#minip,#fullscr{
    width:25px;
    height:25px;
    cursor: pointer;
    align-content:center;
    align-items:center;
    text-align: center;
    vertical-align: middle;
    background-color:rgba(255, 205, 113, 0.767);
    overflow:hidden;
    border-radius: 2px;
    border:1px solid black;
    position: relative;
    padding:3px;
}


#back:hover,#play:hover,#forward:hover,#pause:hover,#volvalue:hover,#mute:hover,#minip:hover,#fullscr:hover{
    border:1px solid rgb(0, 0, 0);
    background-color:rgba(12, 12, 255, 0.579);
}
#back:active,#play:active,#forward:active,#pause:active,#volvalue:active,#mute:active,#minip:active,#fullscr:active{
    border:1px solid rgb(255, 0, 0);
    background-color:rgba(12, 12, 255, 0.579);
}
#controlleft{
    display:flex ;
    align-items: center;
    align-content:center;
    float: left;
    background-color:rgba(240, 255, 255, 0.527);
    border-radius: 10px;
    margin:5px;
    padding:2px;
    width: 50%;
}
#controlright{
    display:flex ;
    align-items: center;
    align-content:space-between;
    background-color:rgba(240, 255, 255, 0.527);
    border-radius: 10px;
    margin:5px;
    padding:2px;
    width: 50%;
}
#progressBar{
    width:30vw;
    cursor: pointer;
}
#controls img{
    width:1.2vw;
    height:1.2vw;
}
#volumectrl{
    display:flex;
    align-items:center ;
    align-content:center ;
}
#volslider{
    display: none;
    width:100px;
    transition: width 150ms ease-in-out;
    background-color: rgb(253, 255, 255);
    z-index: 2147483648;
}
#volumectrl:hover #volslider,#volslider:focus-within{
    display:inline-block;
    width:100px;
    cursor:pointer;
}
#timer{
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    background-color: rgb(240, 255, 255);
    z-index: 2147483648;
}
@media screen and (max-width:770px){
    *{
        margin:0;
        padding:0;
    }
    body{
        align-items: center;
        align-content: center;
        text-align: center;
        vertical-align: middle;
        viewport-fit:auto;
    }
    #screen{
        width:100%;
        margin:0;
        padding:0;
    }
    #screendiv{
        height:70vh;
        margin:0;
        padding:3px;
        width: 100%;
    }
    #screen{
        height:auto;
    }
    #controls{
        margin-top:-10vw;
    }
    #volslider{
        display: none;
        width:100px;
        transition: width 150ms ease-in-out;
        background-color: rgb(253, 255, 255);
        appearance: vertical-slider;
    }
    #controlleft{
        width: 70%;
    }
    #controlright{
        width: 30%;
    }
}